body {
    background-color: darkseagreen;

    font-size: 24px;
    line-height: 1.2;
    font-family: Helvetica, Arial, sans-serif;
    color: #45343A;
}

div {
    text-align: center;
}
div.left {
    color: rgb(35, 97, 73);
    text-align: left;
}
